<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= entry.title %> - <%= blog.title %></title>
    <%- include('../partials/styles.html') %>
  </head>
  <body>
    <%- include('../partials/header.html', { blog: blog }) %>

    <div class="blog-container">
      <div class="container">
        <div class="columns">
          <div class="column col-12">
            <h1><%= entry.title %></h1>

            <%- content %>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="container">
        <ul class="pagination">
          <% if (entry.newer) { %>
            <li class="page-item page-prev">
              <a href="<%= entry.newer.path %>">
                <p class="page-item-subtitle">Newer</p>
                <h3 class="page-item-title"><%= entry.newer.title %></h3>
              </a>
            </li>
          <% } %>

          <% if (entry.older) { %>
            <li class="page-item page-next">
              <a href="<%= entry.older.path %>">
                <p class="page-item-subtitle">Older</p>
                <h3 class="page-item-title"><%= entry.older.title %></h3>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>

    <%- include('../partials/footer.html') %>
    <%- include('../partials/javascripts.html') %>
  </body>
</html>
