<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Entries tagged with <%= name %> - <%= blog.title %></title>
    <%- include('../partials/styles.html') %>
  </head>
  <body>
    <%- include('../partials/header.html', { blog: blog }) %>

    <div class="blog-container">
      <div class="container">
        <div class="columns">
          <div class="column col-12">
            <h1>Entries tagged with <%= name %></h1>

            <% entries.forEach((entry) => { %>
              <h4><a href="<%= entry.path %>"><%= entry.publishOn %> - <%= entry.title %></a></h4>
            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer.html') %>
    <%- include('../partials/javascripts.html') %>
  </body>
</html>
