<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index.html - <%= blog.title %></title>
    <%- include('../partials/styles.html') %>
  </head>
  <body>
    <%- include('../partials/header.html', { blog: blog }) %>

    <div class="blog-container">
      <div class="container">
        <div class="columns">
          <div class="column col-12">
            <h1>Welcome to <%= blog.title %></h1>

            <h3>Recent entries</h3>

            <% blog.recentEntries(5).forEach((entry) => { %>
              <h4><a href="<%= entry.path %>"><%= DateHelper.format(entry.publishOn, 'YYYY/MM/DD HH:mm:ss') %> - <%= entry.title %></a></h4>
            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer.html') %>
    <%- include('../partials/javascripts.html') %>
  </body>
</html>
